body{
	//overflow: hidden;
	box-sizing: border-box;
}
section div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
   
}

.fa.fa-heart:hover{
    cursor: pointer;
}

.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}

//how the starts will be
.star{
	color: goldenrod;
	font-size: 10rem;
	padding: 0 1rem;
}

//star ouline with unicode
.star::before{
	content: '\2606';
	//touch me
	cursor: pointer;
}
//passing the mouse
.star:hover::before{
	content: '\2605';
	color: rgb(218, 137, 32);
}

//filled star
.star.rated::before{
	content: '\2605';
}
//container star to count the stars rated with after pseudo
.stars{
	counter-reset: rateme 0;
	font-size: 2rem;
	font-weight: bolder;
}
//when they get hit, count them
.star.rated{
	counter-increment:  rateme 1;
}
//show me the way
.stars::after{
	content: counter(rateme) '/5';
}
// I pass from right to left
//has to be used WITH reverse() in the js document!!!
.stars {
	unicode-bidi: normal;
	direction: rtl;
}
//color them as we pass by
.stars .star:hover::before,
.stars .star:hover ~ .star::before {
	content: '\2605';
} 

